{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container">

    <div class="row mt-4">
        <div class="col-12">
            <h1 class="text-center mb-3">S'enregistrer</h1>
        </div>
    </div>

    {{ form_start(registrationForm) }}
    <div class="row form-group">
        <div class="col-lg-5 col-12 mx-auto">
            {{ form_label(registrationForm.email, 'Indiquez votre e-mail :') }}
            {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}} )}}
        </div>
        <div class="col-12 col-lg-5 mx-auto">
            {{ form_label(registrationForm.plainPassword, 'Indiquez votre motre de passe :') }}
            {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-4 mx-auto">
            {{ form_label(registrationForm.nickname, 'Indiquez votre prénom :') }}
            {{ form_widget(registrationForm.nickname, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    
    <div class="row pt-3">
        <div class="col-2 offset-1">
            <button class="btn btn-primary">Register</button>
        </div>
    </div>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
