{{ form_start(form) }}
<div class="container">
    <div class="row mb-2 form-group">
        <div class="mx-auto col-md-4 col-lg-3">
            {{ form_label(form.title, 'Titre du livre :') }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}})}}
        </div>
        <div class="mx-auto col-md-4 col-lg-3">
            {{ form_label(form.author, 'Autheur :')}}
            {{ form_widget(form.author, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="mx-auto col-md-4 col-lg-3">
            {{ form_label(form.category, 'Genre du livre :')}}
            {{ form_widget(form.category, {'attr': {'class': 'custom-select mr-sm-2'}}) }}
        </div>
    </div>
    
    <div class="row mb-2">
        <div class="mx-auto col-md-6">
            {{ form_label(form.resume, 'Synopsis') }}
            {{ form_widget(form.resume, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    
    <div class="row mb-2">
        <div class="col-md-4 col-lg-2 mx-auto">
            {{ form_widget(form.date, {'attr': {'class': 'input-group date'}})}}
        </div>
    </div>
    
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 mx-auto">
            {{ form_label(form.image.src)}}
            <br>
            {{ form_widget(form.image.src, {'attr': {'class': 'mb-3'}}) }}
            {{ form_label(form.image.text, "Veuillez définir les informations sur l'image") }}
            {{ form_widget(form.image.text, {'attr': {'class': 'mt-1 col-12'}}) }}
        </div>
    </div>
    
    {{ form_widget(form, {'attr': {'class': 'pt-2'}}) }}
    {% if clients is defined %}
        {% if book.client is null %}
            {% if clients is empty %}
                <div class="col-md-3 mx-auto">
                    <p class="text-center">Aucun client trouvé.</p>
                </div>
            {% else %}
                <div class="col-md-8 col-lg-6 mx-auto">
                    <p class="text-center">Définir un emprunteur ?</p>
                    <select class="form-control" name="client">
                        {% for client in clients %}
                          <option value="{{ client.id }}">{{ client.firstname | upper }} {{ client.lastname | upper }}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endif %}
        {% else %}
            <div class="col-md-3 col-12 mx-auto">
                <label for="returnBook">Cocher pour restituer le livre :</label>
                <input type="checkbox" value="restit" name="returnBook">
            </div>
        {% endif %}
    {% endif %}    
    <div class="row mt-3 mb-2">
        <div class="mx-auto col-4 col-md-2">
            <button class="btn btn-primary btn-form">{{ button_label|default('Enregistrer') }}</button>
        </div>
    </div>
</div>



{{ form_end(form) }}