{% extends 'base.html.twig' %}
{% block title %}Book{% endblock %}

{% block body %}


    <div class="container mt-3">

        <h1 class="text-center">Présentation du livre</h1>

        <div class="row pt-2">
            <div class="col-12 col-md-7 pt-5 mx-auto">
                <img src="{{ asset("uploads/Cover/#{book.image.src}") }}" alt="{{ book.image.text }}" style="max-width:500px; width:100%;">
            </div>

            <div class="col-12 col-md-5 pt-4">
                <h2 class="h3 text-center mb-4">Information sur le livre :</h2> 
                <ul>
                    Titre<li class="ml-4 mb-3 text-primary">{{ book.title }}</li>
                    Autheur<li class="ml-4 mb-3 text-success">{{ book.author }}</li>
                    Date de création<li class="ml-4 mb-3">{{ book.date ? book.date|date('Y-m-d') : '' }}</li>
                    {% if book.client is same as(null) %}
                        Ce livre est-il emprunté ?<li class="ml-4 mb-3">Ce livre n'est pas emprunté.</li>   
                    {% else %}
                        Ce livre est-il emprunté ?<li class="ml-4 mb-3">Ce livre est emprunté par <a href="{{ path('client_show', {'id': book.client.id}) }}">{{ book.client.firstname }}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="row pt-5">
            <div class="col-8 mx-auto">
                <h2 class="h3 text-center">Résumé du livre</h2>
                <p class="text-center text-justify">
                    {{ book.resume }}
                </p>
            </div>
        </div>
    </div>          
    {{ include('book/_delete_form.html.twig') }}

<div class="wrapper wrapper-book">
    <button type="button" class="btn btn-success" id="edit-button" onclick="initf('sidebar')" style="cursor: pointer;">
        <span>
            <i class="fas fa-tools fa-lg"></i>
        </span>    
    </button>

    <nav id="sidebar" class="bg-white">
        <ul class="list-unstyled components">
            <li><a href="{{ path('book_edit', {'id': book.id}) }}"><button class="btn btn-success">Editer</button></a></li>
            <li><button form="delete-book" class="btn btn-danger">Supprimer</button></li>
        </ul>
    </nav>
</div>
{% endblock %}
