{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
<div class="container">

    <h1 class="text-center">Client</h1>

    <div class="row mt-4 mb-3">
        <table class="table col-lg-8 mx-auto">
            <tbody>
                <tr>
                    <th>Firstname</th>
                    <td>{{ client.firstname }}</td>
                </tr>
                <tr>
                    <th>Lastname</th>
                    <td>{{ client.lastname }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="col-lg-8 mx-auto">
            {% if books is defined %}
                <h2>Livres empruntés:</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mx-auto">
                {% if books is empty %}
                    <p>Aucun livre emprunté</p>
                {% else %}
                <p>
                   Nombre de livre emprunté : {{ client.books|length }}
                </p>
                    <ul>
                        {% for book in books %}
                            <li class="mt-2"><a href="{{ path('book_show', {'id': book.id}) }}">{{ book.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endif %}
        </div>        
    </div>  
</div>


<div class="wrapper wrapper-client">
    <button type="button" class="btn btn-success" id="edit-button" onclick="initf('sidebar')" style="cursor: pointer;">
        <span>
            <i class="fas fa-tools fa-lg"></i>
        </span>    
    </button>

    <nav id="sidebar" class="bg-white">
        <ul class="list-unstyled components">
            <li><a href="{{ path('client_edit', {'id': client.id}) }}"><button class="btn btn-success">Editer</button></a></li>
            <li><button form="delete-client" class="btn btn-danger">Supprimer</button></li>
        </ul>
    </nav>
</div>
{% endblock %}
