{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <h1>Client</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ client.id }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ client.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ client.lastname }}</td>
            </tr>
        </tbody>
    </table>

    {% if books %}
    <h2>Livres empruntés:</h2>
    <ul>
        {% for book in books %}
            <li><a href="{{ path('book_show', {'id': book.id}) }}">{{ book.title }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
    

    <a href="{{ path('client_index') }}">back to list</a>

    <a href="{{ path('client_edit', {'id': client.id}) }}">edit</a>

    {{ include('client/_delete_form.html.twig') }}
{% endblock %}
